<mat-list *ngFor="let x of physio.physio" >
    <mat-list-item> Name                 :                        {{x.name}}</mat-list-item>
    <mat-list-item> Age                          :                        {{x.age}}</mat-list-item>
    <mat-list-item> Experience(in years)                          :                        {{x.experience}}</mat-list-item>
    <mat-list-item> Nationality                          :                        {{x.nationality}}</mat-list-item>
    <mat-divider></mat-divider>
    
  </mat-list>