<mat-list *ngFor="let x of playerstats.playerstats" >
    <mat-list-item>Jersey Number    :     {{x.jerseyno}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Matches Played     :     {{x.matchesplayed}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Runs    :      {{x.runs}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>High Score     :       {{x.highscore}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Bat Average     :       {{x.bataverage}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Wickets     :       {{x.wickets}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Bowl Average      :       {{x.bowlaverage}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Best figures      :       {{x.bestfigures}}</mat-list-item>
  </mat-list>