<mat-toolbar color='accent'>
    <ul style="list-style: none;">
        <li >
            <a mat-button routerLink='/team' routerLinkActive="mat-accent">Players</a>
        </li>
        <li >
            <a mat-button routerLink='/teaminfo' routerLinkActive="mat-accent">Team Info</a>
        </li>

        <li >
            <a mat-button routerLink='/coach' routerLinkActive="mat-accent">Coaches</a>
        </li>
        <li >
            <a mat-button routerLink='/sponsors' routerLinkActive="mat-accent">Sponsors</a>
        </li>
        <li >
            <a mat-button routerLink='/addplayer' routerLinkActive="mat-accent">Add player</a>
        </li>
        <li >
            <a mat-button routerLink='/responsibilities' routerLinkActive="mat-accent">Responsibilities</a>
        </li>
        <li >
            <a mat-button routerLink='/physio' routerLinkActive="mat-accent">Physio</a>
        </li>
        <li >
            <a mat-button routerLink='/mentor' routerLinkActive="mat-accent">Mentor</a>
        </li>
        <li >
            <a mat-button routerLink='/transfer' routerLinkActive="mat-accent">Transfer</a>
        </li>
        
    </ul>